redundant statement about QUIC connection migration

> If an application uses multiple 5-tuples in order to allow QUIC
   Connection Migration as described in Section 9 of [RFC9000], it is
   assumed that only one QUIC path will be active at any given time.

This is an inherent property of QUIC connection migration: While the transport layer may probe multiple paths at the time, application data can only be sent on one path.

Hi, @marten-seemann, you're correct that this is redundant for RFC9000 QUIC. The statement is actually a race condition between two things: 

- @mengelbart and I made a conscious decision for the RoQ draft that we were only referencing QUIC mechanisms that had at least cleared the QUIC working group, and @victorpascualavila and I have been working under the same self-imposed constraint in SDP-RoQ, BUT
- I knew that the QUIC working group has been working on https://datatracker.ietf.org/doc/draft-ietf-quic-multipath/, so was trying to anticipate what we might need to support in SDP-RoQ (and, of course, in RoQ, but that's a related conversation).

At this moment, QUIC has https://datatracker.ietf.org/doc/draft-ietf-quic-multipath/ in WGLC, so the draft might be headed out of the working group before too terribly long. I see reviews from @tfpauly and @martinthomson, so that's probably not immediate. 

Would you object if I left this statement in the draft for a bit, as a reminder for myself, and left this issue open? 

The alternative would be to reference https://datatracker.ietf.org/doc/draft-ietf-quic-multipath/, but I'd be more comfortable improving our explanation if I have a better idea of where that draft is likely to be soon. 



This issue was closed by PR #28 - thank you, @marten-seemann, for helping us improve the specification!